<?xml version="1.0"?>
<xsl:stylesheet version="1.0"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:output method="xml" indent="yes"/>

  <xsl:template match="@*|node()">
    <xsl:copy>
      <xsl:apply-templates select="@*|node()"/>
    </xsl:copy>
  </xsl:template>

  <xsl:template match="/network">
    <xsl:copy>
      <xsl:apply-templates select="@*|node()"/>
      <xsl:if test="not(dns)">
        <dns enable="yes"/>
      </xsl:if>
    </xsl:copy>
  </xsl:template>

  <xsl:template match="/network/dns">
    <dns enable="yes">
      <xsl:apply-templates select="node()"/>
    </dns>
  </xsl:template>

  <xsl:template match="/network/ip/dhcp">
    <xsl:copy>
      <xsl:apply-templates select="@*|node()"/>
%{ for host in hosts ~}
      <host mac="${host.mac}" name="${host.name}" ip="${host.ip}"/>
%{ endfor ~}
    </xsl:copy>
  </xsl:template>
</xsl:stylesheet>
