#cloud-config
preserve_hostname: false
hostname: ${hostname}
ssh_pwauth: false
users:
  - name: ${ssh_user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_pubkey}
  - name: aladroc
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false

chpasswd:
  list: |
    aladroc:abcd1234
  expire: false

package_update: false
package_upgrade: false
