---
# Common variables
ansible_user: "{{ lookup('env', 'ANSIBLE_SSH_USER') | default('ubuntu', true) }}"
ansible_ssh_private_key_file: "{{ lookup('env', 'ANSIBLE_SSH_PRIVATE_KEY') | default('~/.ssh/id_ed25519', true) }}"

swarm_advertise_addr: "{{ lookup('env', 'SWARM_ADVERTISE_ADDR') | default('', true) }}"
