---
- name: Phase 2 Windows VM (deploy + validate)
  hosts: swarm_managers
  become: true
  gather_facts: false
  vars:
    stack_name: phase2-windows-vm
    stack_src: "{{ playbook_dir }}/../../stacks/phase2-windows-vm.yml"
    stack_dest: /tmp/phase2-windows-vm.yml
  roles:
    - vm_runner_windows
