---
- name: Swarm status (all nodes)
  hosts: swarm_all
  become: true
  gather_facts: false

  tasks:
    - name: Swarm local state (all nodes)
      ansible.builtin.command: docker info --format '{{ "{{.Swarm.LocalNodeState}} {{.Swarm.NodeID}}" }}'
      register: swarm_local
      changed_when: false
      run_once: false

    - name: Print swarm local state
      ansible.builtin.debug:
        msg: "Swarm local: {{ swarm_local.stdout }}"

    - name: Swarm local state (all nodes)
      ansible.builtin.command: !unsafe docker info --format '{{.Swarm.LocalNodeState}} {{.Swarm.NodeID}}'
      register: swarm_local
      changed_when: false

    - name: Print swarm local state
      ansible.builtin.debug:
        msg: "Swarm local: {{ swarm_local.stdout }}"

- name: Swarm status (manager)
  hosts: swarm_managers
  become: true
  gather_facts: false
  tasks:
    - name: Swarm node list
      ansible.builtin.command: docker node ls --format '{{ "{{.Hostname}} {{.Status}} {{.Availability}} {{.ManagerStatus}}" }}'
      register: swarm_nodes
      changed_when: false

    - name: Print swarm node list
      ansible.builtin.debug:
        msg: "{{ swarm_nodes.stdout_lines | default([]) }}"
